@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerBottom: 1rem;
  --toastContainerLeft: calc(50vw - 8rem);
}

.btn,
.link,
.dropdown {
  @apply p-2 rounded-sm focus:outline-none focus:ring-2 focus:ring-black dark:ring-white dark:bg-gray-800;
}

.textarea {
  @apply box-border p-4 w-full whitespace-pre-line rounded border border-black resize-none dark:shadow-lg dark:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-black dark:ring-white dark:border-none dark:focus:ring-2;
}

.error {
  @apply border border-red-600 ring-red-600;
}

.title {
  @apply mb-2 font-serif text-4xl font-bold text-center;
}
